<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ODB.Connection.SerialPort" type="TimeServer.Impl.Connection.OdbSerialPortSettings, TimeServer" />
    </configSections>

    <ODB.Connection.SerialPort PortName="COM9" BaudRate="9600" Parity="None" DataBits="8" StopBits="One">
    </ODB.Connection.SerialPort>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>